.contact-page {
	padding-top: $spacing-16;

	.contact-header {
		text-align: center;
		margin-bottom: $spacing-12;

		h1 {
			margin-bottom: $spacing-4;
		}

		p {
			max-width: 42rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
